

<footer>
<div class="grid-container">
  <div class="grid-x grid-margin-x">    
    <hr class="small-12">    
  </div>
  <div class="grid-x grid-margin-x">
    <div class="medium-6 ">
        <ul class="menu">
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="contact.html">Contact</a></li>        
          <li><a href="privacy.html">Privacy</a></li>
          <li><a href="terms-of-use.html">Terms of use</a></li>
        </ul>
    </div>
    <div class="medium-6-right">
      <div class="float-right"">All contents &copy; 2002-2017 Dvora Bochman </div>
    </div>
  </div>
</div>
</footer>
