<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="description" content="{{description}}">  
<!-- Schema.org markup for Google+ -->

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@DvoraBochman.com">
<meta name="twitter:title" content="{{title}}">
<meta name="twitter:description" content="{{description}}">
<meta name="twitter:creator" content="@DvoraBochman">
<!-- Twitter Summary card images must be at least 120x120px -->
<meta name="twitter:image" content="http://www.example.com/image.jpg">
<!-- Open Graph data -->
<meta property="og:title" content="{{title}}" />
<meta property="og:type" content="{{type}}" />
<meta property="og:url" content="ttp://www.example.com/" />
<meta property="og:image" content="http://example.com/image.jpg" />
<meta property="og:description" content="{{description}}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{title}}</title>