<header>
	<div class="top-bar" id="top-bar">
		<div class="top-bar-left">
			<nav>
				<ul class="vertical medium-horizontal menu" data-responsive-menu="drilldown medium-dropdown">
					<li><a href="#0">Dvora Bochman</a></li>
					<li><a href="#0">About        </a>
						<ul class="vertical menu">
							<li><a href="#0" >My Resume</a></li>
							<li><a href="#0">Exhibitions</a></li>
							<li><a href="#0">In the press</a></li>
						</ul>					
					</li>
					<li><a href="#0">Services     </a>
						<ul class="vertical menu">
							<li>
								<a href="#0">Art Direction</a>
								<ul class="vertical menu">
									<li><a href="#0">Illustration    </a></li>
									<li><a href="#0">Philatelic      </a></li>
									<li><a href="#0">Textile         </a></li>
									<li><a href="#0">Mural           </a></li>
									<li><a href="#0">Stage Set Design</a></li>
									<li><a href="#0">Seminars        </a></li>
								</ul>
							</li>
							<li><a href="#0">Curation</a>
								<ul class="vertical menu">
									<li><a href="#0">Curation        </a></li>
									<li><a href="#0">Cunsulting      </a></li>
									<li><a href="#0">Catalogs        </a></li>
									<li><a href="#0">Exhibition      </a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li><a href="#0"> <span>Portfolio  </span></a>
						<ul class="vertical menu">
							<li><a href="/portfolio/murals.html">Murals</a></li>
							<li><a href="/portfolio/philatelic-works.html">Philatelic works</a></li>
							<li><a href="/portfolio/textile.html">Textile</a></li>
							<li><a href="/portfolio/painting.html">Painting</a></li>
							<li><a href="/portfolio/ceramics.html">Ceramics</a></li>
							<li><a href="/portfolio/paper-mache.html">Paper Mache</a></li>
						</ul>
					</li>
					<li><a href="#0"><span>Gallery    </span></a>
						<ul class="vertical menu">
							<li><a href="#0">Birds     </a></li>
							<li><a href="#0">Big Five  </a></li>
							<li><a href="#0">Portraits </a></li>
							<li><a href="#0">Mindscape </a></li>
							<li><a href="#0">Masks     </a></li>
							<li><a href="#0">Artfacts  </a></li>
						</ul>
					</li>
					<li><a href="#0"><span>News       </span></a>
						<ul class="vertical menu">
							<li><a href="#0">Archive</a></li>
						</ul>
					</li>
					<li><a href="#0"><span>Contact    </span></a></li>
					<li><a href="#0"><span>Blog       </span></a></li>
				</ul>
			</nav>
		</div>
		<div class="top-bar-right">
			<ul class="menu">
				<li><input type="search" placeholder="Search"></li>
				<li><button type="button" class="button">Search</button></li>
			</ul>
		</div>
	</div>
</header>
